.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @include respond-to("medium") {
    grid-column: 1 / span 3;
  }

  a {
    width: 48px;
    height: 48px;
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:last-child {
      background-color: $purple;
    }
  }
  span {
    margin-left: 30px;
    color: $dark-gray;
    font-size: 16px;

    &:nth-child(2) {
      color: $purple;
      border-bottom: 1px solid $purple;
    }
    &:nth-last-child(2) {
      margin-right: 30px;
    }
  }
}
