// FONTS
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
$sans-serif: "Nunito", sans-serif;

// COLORS

$base-color: #fff;
$black: #000000;
$dark-gray: #5c6673;
$dark-blue: #13203b;
$purple: #845bb3;
$blue-1: #aac2e1;
$blue-2: #7a92f2;
$blue-3: #243861;
$gray-1: #c1c1c1;
$gray-2: #f1f1f1;
$gray-4: #d2d7df;
$gray-3: #00000029;
